@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  * {
    box-sizing: border-box;
  }

  body {
    @apply bg-surface text-white;
    font-feature-settings: "cv11", "ss01";
    -webkit-font-smoothing: antialiased;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-surface;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-surface-200 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
  }
}

@layer utilities {
  .bg-surface {
    background-color: #0f1117;
  }
}
